body {
  font-family: 'Google Sans Flex', sans-serif;
}

.body{
    display: inline-block;
    background-color: #2e2e2e;
}

.snake{
    background-color: #363636;
    border-radius: 10%;
    margin: 10px;
    padding: 40px;
    box-shadow: 0 0 30px 5px rgba(184, 184, 184, 0.2)
}

.button{
    border-radius: 10%;
    border-color: black;
    background-color: #999e9b;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: 'Google Sans Flex', sans-serif !important;
}

.restart{
    border-radius: 10%;
    border-color: black;
    background-color: #999e9b;
    width: 150px;
    height: 60px;
    font-size: 24px;
    font-family: 'Google Sans Flex', sans-serif !important;
}

.controls{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.up{
    grid-column: 2;
    grid-row: 1;
}

.left{
    grid-column: 1;
    grid-row: 2;
}

.down{
    grid-column: 2;
    grid-row: 2;
}

.right{
    grid-column: 3;
    grid-row: 2;
}