body {
  font-family: 'Google Sans Flex', sans-serif;
}

.body{
    display: inline-flex;
    background-color: #2e2e2e;
}

.game{
    background-color: #363636;
    border-radius: 10%;
    margin: 10px;
    padding: 40px;
    box-shadow: 0 0 30px 5px rgba(184, 184, 184, 0.2)
}

.button{
    border-radius: 10%;
    border-color: black;
    background-color: #999e9b;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: 'Google Sans Flex', sans-serif !important;
}

.keybutton{
    border-radius: 10%;
    border-color: black;
    background-color: #999e9b;
    width: 35px;
    height: 60px;
    font-size: 24px;
    font-family: 'Google Sans Flex', sans-serif !important;
}

.restart{
    border-radius: 10%;
    border-color: black;
    background-color: #999e9b;
    width: 150px;
    height: 60px;
    font-size: 24px;
    font-family: 'Google Sans Flex', sans-serif !important;
}

.hangcontrolsT{
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: 60px;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.hangcontrolsM{
    display: grid;
    grid-template-columns: repeat(9, 35px);
    grid-template-rows: 60px;
    gap: 5px;
    justify-content: center;
    margin-top: 5px;
}

.up{
    grid-column: 2;
    grid-row: 1;
}

.left{
    grid-column: 1;
    grid-row: 2;
}

.down{
    grid-column: 2;
    grid-row: 2;
}

.right{
    grid-column: 3;
    grid-row: 2;
}

.snakecontrols{
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.q {grid-column: 1;}
.w {grid-column: 2;}
.e {grid-column: 3;}
.r {grid-column: 4;}
.t {grid-column: 5;}
.y {grid-column: 6;}
.u {grid-column: 7;}
.i {grid-column: 8;}
.o {grid-column: 9;}
.p {grid-column: 10;}
